.work-place {
  font-size: 15px;
  margin: 30px 0;
}

.work-place .title {
  font-weight: 500;
}

.work-place .subtitle {
  font-size: 13px;
  margin-top: 2px;
}

.work-place a {
  color: #fff;
  text-decoration: underline;
}
